<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/client/layout}">
<head>
    <title>QnA</title>
</head>
<body>
    <section layout:fragment="content" class="py-5 mt-5">
        <div class="mb-4"><h3>QnA</h3></div>
        <p>동물병원 이용 중 궁금한 점을 문의해 주세요. </p>

        <div th:object="${qna}">
            <form name="dataForm" id="dataForm" method="post">
                <input type="hidden" id="qnaNumber" name="qnaNumber" th:value="*{qnaNumber}">
            </form>
            <table class="table table-bordered">
                <tbody>

                    <tr>
                        <th>문의 유형</th>
                        <td th:text="*{qnaCategory}"></td>
                    </tr>

                    <tr>
                        <th>제목</th>
                        <td th:text="*{qnaTitle}"></td>
                    </tr>

                    <tr>
                        <th>작성자</th>
                        <td th:text="*{qnaName}"></td>
                    </tr>

                    <tr>
                        <th>작성일</th>
                        <td th:text="*{qnaDate}"></td>
                    </tr>

                    <tr>
                        <th>조회수</th>
                        <td th:text="*{qnaReadcnt}"></td>
                    </tr>

                    <tr>
                        <th>내용</th>
                        <td colspan="3" class="col-md-3 text-start board-content" th:text="*{qnaContent}"></td>
                    </tr>

                </tbody>
            </table>
        </div>


            <div>
                <button type="button" id="updateFormBtn" class="btn btn-primary">
                    수정
                </button>

                <button type="button" id="qnaDeleteBtn" class="btn btn-danger">
                    삭제
                </button>

                <a th:href="@{/pethp/qna}" id="bordListBtn" class="btn btn-outline-secondary">
                    목록
                </a>
            </div>


    </section>
    <th:block layout:fragment="script">
        <script th:src="@{/js/qnaDetail.js}" defer></script>
    </th:block>
</body>
</html>