<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/client/layout}">
<head>
    <title>Q&A 입력</title>
</head>

<body>
    <section layout:fragment="content" class="py-5 mt-5">
        <div class="mb-4"><h3>Q&A 입력</h3>
            <p class="text-secondary mb-0">
                궁금한 사항을 남겨주시면 확인 후 답변드리겠습니다.
            </p>
        </div>

        <form id="insertForm" th:action="@{/pethp/qna-write}" th:object="${qna}" method="post">
            <label for="qnaCategory" class="col-sm-3 col-form-label">문의 유형</label>

            <select id="qnaCategory" class="form-select form-select-lg" th:field="*{qnaCategory}">
                <option value="">문의 유형을 선택하세요</option>
                <option value="진료 문의">진료 문의</option>
                <option value="예약 문의">예약 문의</option>
                <option value="비용 문의">비용 문의</option>
                <option value="예방접종 문의">예방접종 문의</option>
                <option value="수술 문의">수술 문의</option>
                <option value="기타 문의">기타 문의</option>
            </select>

            <div class="row align-items-center mb-4">
                <label for="qnaName"
                       class="col-md-2 col-form-label fw-semibold">
                    작성자 <span class="text-danger">*</span>
                </label>

                <div class="col-md-10">
                    <input type="text"
                           id="qnaName"
                           th:field="*{qnaName}"
                           class="form-control form-control-lg"
                           placeholder="작성자를 입력하세요">
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <label for="qnaTitle"
                       class="col-md-2 col-form-label fw-semibold">
                    제목 <span class="text-danger">*</span>
                </label>

                <div class="col-md-10">
                    <input type="text"
                           id="qnaTitle"
                           th:field="*{qnaTitle}"
                           class="form-control form-control-lg"
                           placeholder="제목을 입력하세요">
                </div>
            </div>

            <div class="row mb-4">
                <label for="qnaContent"
                       class="col-md-2 col-form-label fw-semibold">
                    내용 <span class="text-danger">*</span>
                </label>

                <div class="col-md-10">
                    <textarea id="qnaContent"
                              th:field="*{qnaContent}"
                              class="form-control"
                              rows="8"
                              placeholder="내용을 입력하세요"></textarea>
                </div>
            </div>

            <div class="row align-items-start mb-4">
                <label for="qnaPassword"
                       class="col-md-2 col-form-label fw-semibold">
                    비밀번호 <span class="text-danger">*</span>
                </label>

                <div class="col-md-10">
                    <input type="password"
                           id="qnaPassword"
                           th:field="*{qnaPassword}"
                           class="form-control form-control-lg"
                           placeholder="비밀번호를 입력하세요">

                    <div class="form-text">
                        작성글 수정 및 삭제 시 필요한 비밀번호입니다.
                    </div>
                </div>
            </div>


            <div class="text-end">
                <button type="submit" class="btn btn-primary" id="qnaInsertBtn">글 저장</button>
                <button type="reset" class="btn btn-primary" id="qnaCancelBtn">입력 취소</button>
                <a th:href="@{/pethp/qna}" id="qnaListBtn" class="btn btn-outline-secondary">글 목록</a>
            </div>
        </form>
    </section>

    <th:block layout:fragment="script">
        <script th:src="@{/js/qnaWrite.js}" defer></script>
    </th:block>
</body>
</html>
