<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class="h-100">
<head>
    <th:block th:replace="~{layout/client/fragments/config :: config}"></th:block>

    <th:block layout:fragment="css"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="~{layout/client/fragments/header :: header}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <th:block layout:fragment="content"></th:block>
        </div>
    </main>

    <footer th:replace="~{layout/client/fragments/footer :: footer}"></footer>

    <th:block layout:fragment="script"></th:block>
</body>
</html>