<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/client/layout}">
<head>
    <title>공지사항 상세</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/detail.css}">
    </th:block>
</head>
<body>
    <section layout:fragment="content" class="py-5 mt-5">

        <div class="text-center mb-5">
            <h2 class="fw-bold">공지사항</h2>
        </div>

        <div class="card shadow-sm border-0">

            <div class="card-body" th:object="${notice}">

                <form id="dataForm" method="post">
                    <input type="hidden" name="noticeNumber" id="noticeNumber" th:value="*{noticeNumber}">
                </form>


                <h3 class="fw-bold mb-4" th:text="*{noticeTitle}">
                    제목
                </h3>


                <div class="row border-top border-bottom py-3 mb-4">

                    <div class="col-md-4">
                        <strong>작성자</strong><br>
                        <span th:text="*{noticeName}"></span>
                    </div>

                    <div class="col-md-4">
                        <strong>작성일</strong><br>
                        <span th:text="*{noticeDate}"></span>
                    </div>

                    <div class="col-md-4">
                        <strong>조회수</strong><br>
                        <span th:text="*{noticeReadcnt}"></span>
                    </div>

                </div>

                <!-- 내용 -->
                <div class="notice-content py-3"
                     th:utext="*{noticeContent}">

                </div>

            </div>

        </div>

        <div class="d-flex justify-content-between mt-4">
            <!-- 비밀번호 입력 영역 -->
            <div id="passwordFormArea" hidden>
                <form id="passwordForm" class="row g-2">
                    <input type="hidden" id="passwordNoticeNumber" name="noticeNumber" th:value="${notice.noticeNumber}">
                    <div class="col-auto">
                        <input type="password" name="noticePasswd" id="noticePasswd" class="form-control" placeholder="비밀번호">
                    </div>
                    <div class="col-auto">
                        <button type="button" id="passwordBtn" class="btn btn-secondary">확인</button>
                        <button type="button" id="passwordCancelBtn" class="btn btn-secondary">취소</button>
                    </div>
                    <div class="col-auto">
                        <span id="message" class="align-middle"></span>
                    </div>
                </form>
            </div>
            <!-- 버튼 영역 -->
            <div class="ms-auto">

                <button button="button" id="updateFormBtn" class="btn btn-warning">
                    수정
                </button>

                <button button="button" id="noticeDeleteBtn" class="btn btn-danger">
                    삭제
                </button>

                <a th:href="@{/pethp/notice/write}" class="btn btn-primary">
                    글쓰기
                </a>

                <a th:href="@{/pethp/notice/list}" class="btn btn-outline-dark">
                    목록
                </a>

            </div>
        </div>
    </section>

    <th:block layout:fragment="script">
        <script th:src="@{/js/notice/detail.js}" defer></script>
    </th:block>
</body>
</html>